<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <!--SqlServer链接字符串:server=WIN-FA2TOQLK2NB;database=yisha_ERP;user=sa;password=Ads!234;-->
    <!--Server=WIN-FA2TOQLK2NB;Database=mytrainingdb;Uid=admin;Pwd=admin;-->
    <add name ="MySQLconnString" connectionString ="Server=WIN-FA2TOQLK2NB;Database=mytrainingdb;Uid=admin;Pwd=admin;"/>
    <add name ="MSSQLconnString" connectionString ="server=WIN-FA2TOQLK2NB;database=yisha_ERP;user=sa;password=Ads!234;"/>
  </connectionStrings>
  
  <appSettings>
    <!--动态数据库参数选择-->
    <!--DAL.MySQL-->
    <!--DAL.MSSQL-->
    <add key="DataType" value="DAL.MSSQL"/>
  </appSettings>
  
</configuration>